name: ROS2 CI

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4

      - name: Setup ROS 2 Jazzy
        uses: ros-tooling/setup-ros@v0.7
        with:
          required-ros-distributions: jazzy

      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install -y python3-rosdep
          sudo rosdep init || true
          rosdep update
          cd ros2_ws
          rosdep install --from-paths src -y --ignore-src

      - name: Build
        run: |
          cd ros2_ws
          colcon build --event-handlers console_direct+

